* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagenes/fondo.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 16px;
}

a{
    text-align: right;
    color: rgb(255, 0, 72);
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 18px;
}

h1 {
    color: rgb(142, 85, 85);
    font-size: 25px;
    text-shadow: 3px 3px black;
    font-family: 'Denk One', sans-serif;
    padding-top: 0.5%;
}

div {
    text-align: center;
}

.navBar {
    max-height: 7%;
    background-image: url(imagenes/posibleFondo.jpg);
    padding-bottom: 0.5%;
}

.segunda_caja{    
    max-height: 100%;
}

.primera_columna{
    float:left;
    max-height: 100%;
    max-width:25%;

}
.segunda_columna{
    float:left;
    max-height: 100%;
    max-width:75%;

}

.contenedor{
    max-height: 100%;
    max-width: 100%;
}
.contenedorImagen{
    margin-left: 5%;
    max-width: 88%;
    max-height: 50%;
    padding-top: 12%;
}
.imagen{
    max-width: 100%;
    max-height: 100%;
}

.contenedorInformacion1{
    margin-top: 18%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);}
.contenedorInformacion2{
    margin-left: 4%;
    margin-top: 32%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion3{
    margin-left: 4%;
    margin-top: 37%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion4{
    margin-left: 4%;
    margin-top: 32%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion5{
    margin-left: 4%;
    margin-top: 33%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion6{
    margin-top: 36%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion7{
    margin-top: 28%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion8{
    margin-top: 36%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion9{
    margin-top: 28%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}
.contenedorInformacion10{
    margin-top: 32%;
    margin-left: 4%;
    padding: 0.3% 0.5%;
    max-width: 70%;
    max-height: 46%;
    padding-bottom: 1%;
    background-color: rgba(72, 21, 21, 0.8);
}